.deeplib-checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
}

.deeplib-checkbox-container input.deeplib-input {
  width: min(5vh, 2.5vw);
  height: min(5vh, 2.5vw);
  width: min(5dvh, 2.5dvw);
  height: min(5dvh, 2.5dvw);
  border-radius: min(1.0vh, 0.5vw);
  border-radius: min(1.0dvh, 0.5dvw);
}

.deeplib-checkbox-container input.deeplib-input[type="checkbox"]:checked::before {
  width: 80%;
  height: 80%;
}

.deeplib-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
}

.deeplib-input-container:has(label.deeplib-text) {
  margin-top: min(1vh, 0.5vw);
  margin-top: min(1dvh, 0.5dvw);
}

.deeplib-input-container input.deeplib-input {
  font-size: 0.6em;
  padding: min(1vh, 0.5vw);
  padding: min(1dvh, 0.5dvw);
  background-color: transparent;
  outline: none;
  min-height: min(5vh, 2.5vw);
  min-height: min(5dvh, 2.5dvw);
  border-radius: min(1.0vh, 0.5vw);
  border-radius: min(1.0dvh, 0.5dvw);
}

.deeplib-input-container input.deeplib-input[type="color"] {
  padding: 0px;
  width: min(5vh, 2.5vw);
  height: min(5vh, 2.5vw);
  width: min(5dvh, 2.5dvw);
  height: min(5dvh, 2.5dvw);
  border-radius: 0px;
}

.deeplib-input-container input.deeplib-input[type="color"]:disabled {
  border: var(--deeplib-blocked-color) solid var(--deeplib-border-width);
  cursor: not-allowed;
}

.deeplib-dropdown-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: min(2vh, 1vw);
  gap: min(2dvh, 1dvw);
  color: var(--deeplib-text-color);

  select {
    padding: 0 min(1vh, 0.5vw);
    padding: 0 min(1dvh, 0.5dvw);
    border-radius: min(1vh, 0.5vw);
    border-radius: min(1dvh, 0.5dvw);
  }
}