.deeplib-subscreen {
  --deeplib-background-color: var(--main, white);
  --deeplib-element-color: var(--element, white);
  --deeplib-element-hover-color: var(--accentHover, cyan);
  --deeplib-text-color: var(--text, black);
  --deeplib-icon-color: var(--accent, white);
  --deeplib-border-color: var(--accent, black);
}

/************/
/* ELEMENTS */
/************/

.deeplib-text {
  color: var(--deeplib-text-color);
}

.deeplib-subscreen {
  padding: 0;
  margin: 0;
}

.deeplib-subscreen * {
  box-sizing: border-box;
}

.deeplib-settings {
  display: flex;
  flex-direction: column;
  padding: min(1.0dvh, 0.5dvw);
  gap: 0.3em;
  overflow-y: auto;
}

.deeplib-misc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.deeplib-button.button-styling {
  border-radius: min(1.0dvh, 0.5dvw);

  color: var(--deeplib-text-color);
  overflow: hidden;
}

.deeplib-button.button-styling img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-position: left;
  background-color: var(--deeplib-icon-color);
  background-blend-mode: multiply;
  background-size: contain;
  mask-position: left;
  mask-size: contain;
  background-repeat: no-repeat;
  mask-repeat: no-repeat;
  color: transparent;

  background-image: var(--image);
  mask-image: var(--image);
}

.deeplib-button.button-styling .button-label {
  width: 100%;
  background-color: transparent;
  color: var(--deeplib-text-color);
  font-size: min(3.6dvh, 1.8dvw);
}

#deeplib-subscreen-title {
  text-align: center;
  color: var(--deeplib-text-color);
}

#deeplib-reset-button {
  background-color: indianred;
}

#deeplib-wiki-button {
  background-color: #BDA203;
}

#deeplib-support-button {
  background-color: #5e4969;
}

.deeplib-checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
}

.deeplib-input {
  border-radius: min(1.0dvh, 0.5dvw);
}

.deeplib-input-container {
  position: relative;
  margin-top: min(1vh, 0.5vw);
}

.deeplib-input-container input.deeplib-input {
  font-size: 20px;
  width: 100%;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  padding-left: min(1vh, 0.5vw);
  padding-right: min(1vh, 0.5vw);
}

.deeplib-input-container label.deeplib-text {
  position: absolute;
  top: min(0.6vh, 0.3vw);
  left: min(0.6vh, 0.3vw);
  transition: all 0.3s ease;
  pointer-events: none;
}

.deeplib-input-container input.deeplib-input:focus~label,
.deeplib-input-container input.deeplib-input:not(:placeholder-shown)~label {
  font-size: 0.7em;
  transform: translate(20%, -70%);
  background-color: var(--deeplib-background-color);
  padding: 0px min(1vh, 0.5vw);
}

.deeplib-input-container .deeplib-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--deeplib-element-hover-color);
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.deeplib-input-container input.deeplib-input:focus~.deeplib-underline,
.deeplib-input-container input.deeplib-input:not(:placeholder-shown)~.deeplib-underline {
  transform: scaleX(0.98);
}

.deeplib-tooltip {
  background-color: var(--deeplib-element-color);
  color: var(--deeplib-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: min(1.0dvh, 0.5dvw);
  padding: min(1vh, 0.5vw);
  font-size: 0.8em;
  border: min(0.2vh, 0.1vw) solid var(--deeplib-border-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/*************/
/* MESSAGES */
/*************/

.deeplib-highlight-text {
  font-weight: bold;
  color: rgb(203, 185, 23);
}

#TextAreaChatLog[data-colortheme='dark'] div.ChatMessage.deeplib-message,
#TextAreaChatLog[data-colortheme='dark2'] div.ChatMessage.deeplib-message {
  background-color: var(--deeplib-element-color);
  border: min(0.2dvh, 0.1dvw) solid var(--deeplib-border-color);
  color: var(--deeplib-text-color);
}

#TextAreaChatLog div.ChatMessage.deeplib-message {
  background-color: #eee;
  border: min(0.2dvh, 0.1dvw) solid #440171;
  color: #111;
  padding-left: min(0.6dvh, 0.3dvw);
  display: block;
  white-space: normal;
}

#TextAreaChatLog[data-colortheme='dark'] div.ChatMessage.deeplib-message a,
#TextAreaChatLog[data-colortheme='dark2'] div.ChatMessage.deeplib-message a {
  color: var(--deeplib-text-color);
}

#TextAreaChatLog div.ChatMessage.deeplib-message a {
  cursor: pointer;
  font-weight: bold;
  color: #111;
}
