.deeplib-subscreen {
  --deeplib-background-color: var(--main, white);
  --deeplib-element-color: var(--element, white);
  --deeplib-element-hover-color: var(--accentHover, cyan);
  --deeplib-text-color: var(--text, black);
  --deeplib-icon-color: var(--accent, white);
  --deeplib-border-color: var(--accent, black);
}

/************/
/* ELEMENTS */
/************/

.deeplib-subscreen {
  padding: 0;
  margin: 0;
}

.deeplib-settings {
  display: flex;
  flex-direction: column;
  padding: min(1.0dvh, 0.5dvw);
  gap: 0.3em;
}

.deeplib-misc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.deeplib-button.button-styling {
  border-radius: min(1.0dvh, 0.5dvw);

  color: var(--deeplib-text-color);
  overflow: hidden;
}

.deeplib-button.button-styling img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-position: left;
  background-color: var(--deeplib-icon-color);
  background-blend-mode: multiply;
  background-size: contain;
  mask-position: left;
  mask-size: contain;
  background-repeat: no-repeat;
  mask-repeat: no-repeat;
  color: transparent;

  background-image: var(--image);
  mask-image: var(--image);
}

.deeplib-button.button-styling .button-label {
  width: 100%;
  background-color: transparent;
  color: var(--deeplib-text-color);
  font-size: min(3.6dvh, 1.8dvw);
}

#deeplib-subscreen-title {
  text-align: center;
  color: var(--deeplib-text-color);
}

#deeplib-reset-button {
  background-color: indianred;
}

#deeplib-wiki-button {
  background-color: #BDA203;
}

#deeplib-support-button {
  background-color: #5e4969;
}

.deeplib-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
}

/*************/
/* MESSAGES */
/*************/

.deeplib-highlight-text {
  font-weight: bold;
  color: rgb(203, 185, 23);
}

#TextAreaChatLog[data-colortheme='dark'] div.ChatMessage.deeplib-message,
#TextAreaChatLog[data-colortheme='dark2'] div.ChatMessage.deeplib-message {
  background-color: var(--deeplib-element-color);
  border: min(0.2dvh, 0.1dvw) solid var(--deeplib-border-color);
  color: var(--deeplib-text-color);
}

#TextAreaChatLog div.ChatMessage.deeplib-message {
  background-color: #eee;
  border: min(0.2dvh, 0.1dvw) solid #440171;
  color: #111;
  padding-left: min(0.6dvh, 0.3dvw);
  display: block;
  white-space: normal;
}

#TextAreaChatLog[data-colortheme='dark'] div.ChatMessage.deeplib-message a,
#TextAreaChatLog[data-colortheme='dark2'] div.ChatMessage.deeplib-message a {
  color: var(--deeplib-text-color);
}

#TextAreaChatLog div.ChatMessage.deeplib-message a {
  cursor: pointer;
  font-weight: bold;
  color: #111;
}
