#deeplib-gratitude {
  position: fixed;
  width: 25%;
  height: 50%;
  top: 15%;
  left: 50%;
}

#deeplib-gratitude h1 {
  font-size: 1em;
  color: var(--text, #333);
}

#deeplib-gratitude p {
  font-size: 0.6em;
  color: var(--text, #555);
  line-height: 1.5;
}

#deeplib-gratitude p:last-child {
  font-size: 0.8em;
  color: var(--text, #ff69b4);
}
