.deeplib-checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
}

.deeplib-checkbox-container input.deeplib-input { 
  width: min(5vh, 2.5vw);
  height: min(5vh, 2.5vw);
  border-radius: min(1.0dvh, 0.5dvw);
}

.deeplib-checkbox-container input.deeplib-input[type="checkbox"]:checked::before {
  transform: scale(0.8);
}

.deeplib-input-container {
  --label-background-color: var(--deeplib-background-color);
  --pad: .75rem;

  position: relative;
}

.deeplib-input-container:has(label.deeplib-text) {
  margin-top: min(1vh, 0.5vw);
}

.deeplib-input-container input.deeplib-input {
  font-size: 0.6em;
  width: 100%;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  padding-left: min(1vh, 0.5vw);
  padding-right: min(1vh, 0.5vw);
  min-height: min(5dvh, 2.5dvw);
  border-radius: min(1.0dvh, 0.5dvw);
}

.deeplib-input-container label.deeplib-text {
  position: absolute;
  left: var(--pad);
  top: var(--pad);
  transition: all 0.3s ease;
  pointer-events: none;
}

.deeplib-input-container input.deeplib-input:focus~label,
.deeplib-input-container input.deeplib-input:not(:placeholder-shown)~label {
  transform: translateY(calc(-50% - var(--pad))) scale(.8);
  background-color: var(--label-background-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}
